.ipynb_checkpoints/SQLAlchemy-checkpoint.ipynb
Website_V1/SQLAlchemy_test/.ipynb_checkpoints/
Website_V1/SQLAlchemy_test/testSQLAlchemy.db
Website_V1/WebsitePackage/__init__.sublime-workspace
testSQLAlchemy.db
Website_V1/Cov19_database.db
Website_V1/WebsitePackage/__pycache__/__init__.cpython-38.pyc
Website_V1/WebsitePackage/__pycache__/db.cpython-38.pyc
Website_V1/WebsitePackage/__pycache__/models.cpython-38.pyc
Website_V1/WebsitePackage/__pycache__/routes.cpython-38.pyc

