{% extends "general_layout.html" %}
{% block content %}
<!--	
	<div class="container-fluid mx-0 bg-warning" >
		<div class="row" id="search_bar">
			<div class="col-12">
				<div class="input-group mt-1 mb-1">
				  <div class="input-group-prepend">
				    <button class="btn btn-outline-primary" type="button" onclick="goPython()">Search</button>
				  </div>
				  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>
                                -->
<!-- START Test Button for Ajax -->
		<div class="container">
			<div class="row" id="search_bar">
				<div class="row">
					<div class="col">
						<!--<button class="btn btn-primary btn-sm btn-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Search 
						</button>-->
                        <a type="button" class="btn btn-primary btn-sm btn-block" href="{{ url_for('Search') }}">Search</a> 
					</div>
					<div class="col">
						<a type="button" class="btn btn-primary btn-sm btn-block" href="{{ url_for('New_Record') }}">New Record</a>
				    </div>
				    <div class="col">
						<a type="button" class="btn btn-primary btn-sm btn-block" href="{{ url_for('Delete_Record') }}">Delete Record</a>
				    </div>
					<div class="col">
						<a type="button" class="btn btn-primary btn-sm btn-block" href="{{ url_for('Create_DD') }}">Generate Dummy-database</a>
					</div>
				</div>
			</div>
        </div>


<!-- TRY OFCANVAS SEARCH BAR -->
        
		<!-- https://stackoverflow.com/questions/35668957/foundation-6-off-canvas-where-should-i-put-the-menu-content -->
		<!--{#   
		<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  			<div class="offcanvas-header">
    			<h5 class="offcanvas-title" id="offcanvasScrollingLabel">SEARCH</h5>
    			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  			</div>
  			<div class="offcanvas-body">
    			<form class="row g-3">
    				<div class="col lg">
    					<label for="input_sub_group" class="form-label">Subjects Group id</label>
    					<input type="text" class="form-control" id="input_sub_group"> 
    					<label for="input_subject" class="form-label">Subject id</label>
    					<input type="text" class="form-control" id="input_subject"> 

    					<div class="dropdown">
    						<button class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    							Sample Types
    						</button>
    						<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action</a></li>
							    <li><a class="dropdown-item" href="#">Another action</a></li>
							    <li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
    					</div>

    					<label for="input_site_name" class="form-label">Site</label>
    					<input type="text" class="form-control" id="input_site_name">
    				</div>

    			</form>
  			</div>
		</div>
		#}-->

<!-- END OFFCANVAS -->

<!--{#   #}-->

		<div class="row" id="results_table">
			<div class="col-12 mt-2 bg-secondary min-vh-75" id="visualResults">
				<table class="table table-primary table-striped">
	  				<thead>
			            <tr>
			              <th scope="col">GROUP</th>
			              <th scope="col">Subject</th>
			              <th scope="col">Site</th>
			              <th scope="col">Event</th>
			              <th scope="col">Sample Type</th>
			              <th scope="col">Analysis Type</th>
			            </tr>
					</thead>
					<tbody class="table-group-divider">
						{% for index, row in subject_group_table.iterrows() %}
			            <tr>
			              <td colspan="0">{{ row['subjects_group_id'] }}</td>
			              <td>{{ row['subject_id'] }}</td>
			              <td>{{ row['site'] }}</td>
			              <td>{{ row['event'] }}</td>
			              <td>{{ row['sample_type'] }}</td>
			              <td>{{ row['analysis_type'] }}</td>
						</tr>
			            {% endfor %}

					  </tbody>

				</table>				
			</div>
		</div> 

	</div>




	<!-- <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        function goPython(){
            $.ajax({
              url: "C:/COVID_19_MassSpectrometryCoalition/C19MSC_python/Website_V1/WebsitePackage/templates/gd_db.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script> -->

{% endblock content %}

