{% extends "general_layout.html" %}
{% block content %}
	<div class="container-fluid mx-0 bg-warning" >
		<div class="row" id="search_bar">
			<div class="col-12">
				<div class="input-group mt-1 mb-1">
				  <div class="input-group-prepend">
				    <button class="btn btn-outline-primary" type="button" onclick="goPython()">Search</button>
				  </div>
				  <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1">
				</div>
			</div>
		</div>

<!-- START Test Button for Ajax -->
		<div class="container">
			<div class="row" id="search_bar">
				<div class="row">
					<div class="col">
						<a type="button" class="btn btn-primary btn-sm btn-block" href="{{ url_for('New_Record') }}">New Record</a>
				    </div>
				    <div class="col">
						<a type="button" class="btn btn-primary btn-sm btn-block" href="{{ url_for('Delete_Record') }}">Delete Record</a>
				    </div>
					<div class="col">
						<a type="button" class="btn btn-primary btn-sm btn-block" href="{{ url_for('Create_DD') }}">Generate Dummy-database</a>
					</div>
				</div>
			</div>
        </div>
<!-- END Test Button for Ajax -->


		<!-- {# <div class="row" id="results_table">
			<div class="col-12 mt-2 bg-secondary min-vh-75" id="visualResults">
				<table class="table table-primary table-striped">
	  				<thead>
			            <tr>
			              <th scope="col">group ID</th>
			              <th scope="col">Description</th>
			              <th scope="col">Repositories</th>
			            </tr>
					</thead>
					<tbody class="table-group-divider">
						{% for index, row in subject_group_table.iterrows() %}
			            <tr>
			              <th scope="row">{{ index }}</th>
			              <td colspan="0">{{ row['description'] }}</td>
			              <td>{{ row['repositories'] }}</td>

						</tr>
			            {% endfor %}

					  </tbody>

				</table>				
			</div>
		</div> #} -->

	</div>




	<!-- <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script>
        function goPython(){
            $.ajax({
              url: "C:/COVID_19_MassSpectrometryCoalition/C19MSC_python/Website_V1/WebsitePackage/templates/gd_db.py",
             context: document.body
            }).done(function() {
             alert('finished python script');;
            });
        }
    </script> -->

{% endblock content %}

