{% extends "general_layout.html" %}
{% block content %}
<div>
	<form class="row g-3" action="{{ url_for('home_page') }}" method="post">
		<div class="col lg">
			<div class="input-group mb-3">
			  <div class="input_subjects_group">
			    <span class="input-group-text" id="input_subjects_group">Subjects Group</span>
			  </div>
			  <input type="text" class="form-control" name="subjects_group" placeholder=""  aria-label="Group Description" aria-describedby="basic-addon1"> <!-- https://stackoverflow.com/questions/46257630/flask-not-detecting-post-request-from-form -->
			</div>
            
            <div class="input-group mb-3">
			  <div class="input_subjects_group">
			    <span class="input-group-text" id="input_subject">Subject</span>
			  </div>
			  <input type="text" class="form-control" name="subject" placeholder=""  aria-label="Group Description" aria-describedby="basic-addon1"> <!-- https://stackoverflow.com/questions/46257630/flask-not-detecting-post-request-from-form -->
			</div>

			<div class="input-group mb-3">
			  <div class="input_subjects_group">
			    <span class="input-group-text" id="input_event">Event</span>
			  </div>
			  <input type="text" class="form-control" name="event" placeholder=""  aria-label="Group Description" aria-describedby="basic-addon1"> <!-- https://stackoverflow.com/questions/46257630/flask-not-detecting-post-request-from-form -->
			</div>

			<div class="input-group mb-3">
			  <div class="input_subjects_group">
			    <span class="input-group-text" id="input_site">Site</span>
			  </div>
			  <input type="text" class="form-control" name="site" placeholder=""  aria-label="Group Description" aria-describedby="basic-addon1"> <!-- https://stackoverflow.com/questions/46257630/flask-not-detecting-post-request-from-form -->
			</div>

<!-- SAMPLE TYPE GROUP -->
			<div class="input-group mb-3 input-group-sm">
			  <!-- <div class="input_subjects_group">
			    <span class="input-group-text" id="text_input_sample_type">Sample Type</span>
			  </div> -->
			  <!-- DROP DOWN -->
			    <div class="dropdown">
			      <button class="btn btn-secondary btn-sm dropdown-toggle" id="dd_sample_type_btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			        Sample Type
			      </button>
			      <ul class="dropdown-menu" id="dd_sample_type_lst">
			        {% for item in sample_types_items %}
			        	<li><a class="dropdown-item">{{ item }}</a></li>
			        {% endfor %}
			      </ul>
			    </div>
		<!-- SAMPLE TYPE INPUT -->
			    <input type="text" class="form-control" id="input_sample_type" name="sample_type" placeholder=""  aria-label="Group Description" aria-describedby="basic-addon1"> <!-- https://stackoverflow.com/questions/46257630/flask-not-detecting-post-request-from-form -->
			</div>
	

<!-- ANALYSIS TYPE GROUP -->
			<div class="input-group mb-3 input-group-sm">
			  <!-- DROP DOWN -->
			    <div class="dropdown">
			      <button class="btn btn-secondary btn-sm dropdown-toggle" id="dd_analysis_type_btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			       Analysis Type
			      </button>
			      <ul class="dropdown-menu" id="dd_analysis_type_lst">
			        {% for item in analysis_types_items %}
			        	<li><a class="dropdown-item">{{ item }}</a></li>
			        {% endfor %}
			      </ul>
			    </div>
		<!-- ANALYSIS TYPE INPUT -->
			    <input type="text" class="form-control" id="input_analysis_type" name="analysis_type" placeholder=""  aria-label="Analysis Type" aria-describedby="basic-addon1"> <!-- https://stackoverflow.com/questions/46257630/flask-not-detecting-post-request-from-form -->
			</div>


<!-- SUBMIT BUTTON -->
             
			 <input class="btn btn-primary" type="submit" value=Submit href=""></input> 
			<!--<input class="btn btn-primary" type="submit" value=Submit ><a href="{{ url_for('home_page') }}"></a></input>-->
		</div>
	</form>
</div>



<!-- MODAL -->
<!-- Button trigger modal -->
<!--    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Launch demo modal
    </button>-->

    <!-- Modal -->
    <!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>-->


{% endblock content %}

<!-- https://stackoverflow.com/questions/52669636/bootstrap-dropdown-menu-not-popping-up -->